@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scroll-bar {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 15px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: black;
    }
    & {
      scrollbar-color: transparent transparent;
      scrollbar-width: thin;
    }
  }
}
